

.fireworks {
	position: absolute;
	top: 0;
	left: 0;
}

.title.first {
	font-size: 1.4em;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}

.title.landing {
	padding-bottom: 25px;
}

.subtitle.landing {
	font-size: 1.1em;
}

.hero.top {
	padding: 0;
	border-bottom: 1px solid #979797;
}

.hero-body {
	padding-top: 30px;
	padding-bottom: 30px;
}

.gradient {
	background: rgba(254,254,254,1);
}

.bottom-section {
	border-top: 1px solid #979797;
}

.title.bottom {
	margin-top: 30px;
	font-weight: 100;
	margin-bottom: 50px;
	font-size: 1.6em;
}

.bottom-section {
	padding-top: 30px;
	padding-bottom: 70px;
}

span {
	font-weight: 500 !important;
}

hr {
	margin-bottom: 0;
}

/* DISCOVER */

h1.discover-heading {
	font-weight: 100; 
	padding-top: 70px; 
}

.button.discover-button {
	color: #5462FF; 
	border-color: #5462FF; 
	border-radius: 20px; 
	margin-bottom: 50px;
	margin-top: 30px;
	width: 150px;
}

.button.discover-button:hover {
	background-color: #5462FF;
	color: white; 
}

/* BUILD */

h1.build-heading {
	font-weight: 100; 
	padding-top: 70px; 
}

.button.build-button {
	color: #2AD883; 
	border-color: #2AD883; 
	border-radius: 20px; 
	margin-bottom: 50px;
	margin-top: 30px;
	width: 150px;
}

.button.build-button:hover {
	background-color: #2AD883;
	color: white; 
}

/* SHARE */

h1.share-heading {
	font-weight: 100; 
	padding-top: 70px; 
}

.button.share-button {
	color: #6B0FCD; 
	border-color: #6B0FCD; 
	border-radius: 20px; 
	margin-bottom: 50px;
	margin-top: 30px;
	width: 150px;
}

.button.share-button:hover {
	background-color: #6B0FCD;
	color: white; 
}

.field.is-grouped {
	margin: 0 auto;
}

.title.last {
	font-weight: 100;
	margin-top: 30px;
	font-size: 1.4em; 
}

.button.submit {
	border-radius: 3px !important;
}

.input {
	border-radius: 3px !important;
}

/* REVEALS */

.hero.reveal {
	display: none;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

#discover-reveal {
	background-image: linear-gradient(141deg,#6571FF 0,#7681FF 71%,#98A0FF 100%);
}

#share-reveal {
	background-image: linear-gradient(141deg,#6B0FCD 0,#883FD7 71%,#9757DC 100%);
}

.image.animation {
	margin: 0 auto;
}

.story {
	padding-bottom: 20px;
	font-family: 'Lato', sans-serif;
}

.statement {
	padding-top: 10px;
	padding-bottom: 30px;
	font-weight: bolder;
}

a.back {
	color: lightgrey !important;
	text-decoration-line: underline;
	padding-bottom: 20px;
}

/* DEVICES */

@media (min-width: 768px) {
	.button.is-outlined {
		margin-bottom: 80px;
	}

	h1.discover-heading {
		margin-bottom: 30px;
	}

	h1.build-heading {
		margin-bottom: 30px;
	}

	h1.share-heading {
		margin-bottom: 30px;
	}

	.button.discover-button, .button.build-button, .button.share-button {
		margin-bottom: 70px;
		margin-top: 30px;
	}

	.columns:not(:first-child) {
		border-left: 1px solid #979797;
	}

	.title.bottom {
		margin-top: 10px;
	}

	.input {
		width: 450px;
	}

	.field.is-grouped {
		height: 40px;
	}

	.column.with-border {
		border-right: 1px solid #dbdbdb;
	}

	.bottom-section {
		margin-top: 0;
		padding-bottom: 0;
	}

	.container.reveal {
		height: 313px;
		margin-top: 12px;
	}

	.title.revealing {
		padding-top: 50px;
	}

	.hero.reveal {
		text-align: left;
	}

	.hero.is-medium .hero-body {
		padding-top: 5rem;
		padding-bottom: 5rem; 
	}

	.story {
		padding-right: 30px;
		padding-left: 0;
	}

	.image.animation {
		margin-top: 40px;
	}

	.subtitle.landing {
	font-size: 1.1em;
	padding-left: 50px;
	padding-right: 50px;
    }

}
















